:root {
    --page-background: #eee;
    --text-color: #000;
    --hero-elevation: 0px 0px 30px 1px rgba(0,0,0,0.25);
}

html, body {
    height: 100%;
    background-color: var(--page-background);
    color: var(--text-color);
}

h1 {
    font-weight: 600;
    font-size: 4rem;
    margin-left: -.075em; /* HACK: Remove left side bearing */
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

#container a {
    text-decoration: none;
}

#container .item {
    margin: 0 50px;
}

#hero img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

#hero {
    box-shadow: var(--hero-elevation);
}

.badge {
    display: inline-block;
    width: 142px;
}
