::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: linear-gradient(#0F5095 0%, #0371CA 50%, #2FB9EE 100%);
}

::-webkit-scrollbar-track {
    background-color: #23272a;
}

body {
    background-color: #23272a;
    color: #ffffff;
}

p.title {
    text-align: center;
    color: #A6E9F4;
    font-family: "Segoe UI";
    font-size: xx-large;
}

img.logo {
    display: block;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 1%;
    width: 20%;
    border-radius: 10px;
}

img.first {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    width: 80%;
    border-radius: 10px;
    transition: 0.7s;
    box-shadow: 0px 0px 5px #000000;
}

img.first:hover {
    box-shadow: 0px 0px 10px #000000;
}

button {
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #0F5095 0%, #0371CA 50%, #2FB9EE 100%);
    background-size: 200% auto;
    transition: 0.7s;
    padding: 2%;
    box-shadow: 0px 0px 5px #000000;
    color: #A6E9F4;
    font-family: "Segoe UI";
    font-size: medium;
}

button:hover {
    background-position: right;
    box-shadow: 0px 0px 10px #000000;
}

button:active, button:focus {
    outline: none;
    box-shadow: 0px 0px 0px #000000;
}

button.b1 {
    margin-left: 10%;
    margin-bottom: 10%;
    float: left;
}

button.b2 {
    margin-right: 10%;
    margin-bottom: 10%;
    float: right;
}